/* body {
    max-width: 640px;
    height: 1136px;
    margin: 0 auto;
} */

.title{
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    color: orange;
}

.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding-left: 10%;
    padding-right: 10%;
    color: #5A5A5A;
    
  }

  footer{
    border-top: solid black;
  }

  div.footer{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }
  
.welcome2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: orange;
}

.phone {
    border: solid;
    border-color: orange;
  }

.form-control.phone{
    border-color: orange;
}

.form-control.button{
    background-color: orange;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: #5A5A5A;
    font-weight: bold;

}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
    